<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="cmsbox_paybox" frontName="cmsbox_paybox">
            <module name="Cmsbox_Paybox" />
        </route>
    </router>
</config>
